.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding-bottom: 50px;
}

marquee {
  margin-top: 50px;
  color: #fa5151;
}
    
a {
  text-decoration: none;
}

/* Define a dark color scheme */
:root {
  --dark-bg-color: #333333;
  --dark-text-color: #ffffff;
}

/* Define a light color scheme */
:root {
  --light-bg-color: #ffffff;
  --light-text-color: #333333;
}

/* Set the default color scheme to light */
body {
  background-color: var(--light-bg-color);
  color: var(--light-text-color);
}

/* Use a media query to apply the dark color scheme when the dark mode preference is detected */
@media (prefers-color-scheme: dark) {
  body {
    background-color: var(--dark-bg-color);
    color: var(--dark-text-color);
  }
}
